<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>待办事项</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
<div id="app">
    <!-- 头部标题 -->
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-flex">
              <figure class="image is-64x64 mr-4">
                <img src="ztw.jpg" alt="ZTW">
              </figure>
              <div class="txt">
                <p class="title">
                  TODOLIST
                </p>
                <p class="subtitle">
                  Created By Cyan
                </p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </section>
    <!-- 卡片部分 -->
    <div class="container">
      <!-- 搜索框 -->
      <div class="columns mt-1 is-multiline">
        <div class="column is-6">
          <div class="field is-grouped">
            <p class="control is-expanded">
              <input class="input is-dark" 
                    type="text" 
                    placeholder="请输入待办事项"
                    v-model="newTodo"
                    @keyup.enter="addNewTodos"
                    ref="newTodoInput"
              >
            </p>
            <p class="control">
              <a class="button is-dark"
                @click="addNewTodos"
              >
                新增
              </a>
            </p>
          </div>
        </div>
        <div class="column is-3 is-offset-3">
          <div class="field has-addons">
            <div class="control is-expanded">
              <input class="input is-dark" type="text" placeholder="查找待办事项">
            </div>
            <div class="control">
              <a class="button is-dark">
                🔍
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- 卡片 -->
      <!-- 左右布局 -->
      <div class="columns">
        <!-- 左边未完成 -->
        <div class="column is-6">
          <div class="panel is-dark">
            <div class="panel-heading">未完成</div>
            <div class="panel-block" style="display: block;" v-if="unfinishedTodos != '' ">
              <div class="columns is-multiline">
                <div class="column is-6" 
                      v-for="todo in unfinishedTodos"
                      :key="`todo-${todo.id}`"
                >
                  <div class="card">
                    <div class="card-content">
                      <p class="subtitle">
                        {{todo.content}}
                      </p>
                    </div>
                    <footer class="card-footer">
                      <p class="card-footer-item">
                        <button class="button" 
                                :class="todo.isDone ? '' : 'is-light' "
                                @click="toggleDone(todo.id)"
                        >标为{{todo.isDone ? '未' : '已'}}完成
                      </button>
                      </p>
                      <p class="card-footer-item">
                        <button class="button is-dark" @click="toggleDelete(todo.id)">删除</button>
                      </p>
                    </footer>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-block is-flex is-justify-content-center" v-else>
              <p class="my-6">全部完成了！</p>
            </div>
          </div>
        </div>
        <!-- 右边已完成 -->
        <div class="column is-6">
          <div class="panel">
            <div class="panel-heading">已完成</div>
            <div class="panel-block" style="display: block;" v-if="finishedTodos != '' ">
              <div class="columns is-multiline">
                <div class="column is-6" 
                      v-for="todo in finishedTodos"
                      :key="`todo-${todo.id}`"
                >
                  <div class="card">
                    <div class="card-content">
                      <p class="subtitle" style="text-decoration:line-through">
                        {{todo.content}}
                      </p>
                    </div>
                    <footer class="card-footer">
                      <p class="card-footer-item">
                        <button class="button" 
                                :class="todo.isDone ? '' : 'is-light' "
                                @click="toggleDone(todo.id)"
                        >标为{{todo.isDone ? '未' : '已'}}完成
                      </button>
                      </p>
                      <p class="card-footer-item">
                        <button class="button is-dark" @click="toggleDelete(todo.id)">删除</button>
                      </p>
                    </footer>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-block is-flex is-justify-content-center" v-else>
              <p class="my-6">没有已完成事项</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<footer class="footer" >
  <div class="content has-text-centered">
    <p>
      <strong>TODOLIST</strong> by <a href="https://gitee.com/cyanzhn">Cyan</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>
  <script src="script.js"></script>
</body>

</html>